.step2-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: 70vh;
  margin: 15vh auto 0;
  background: url("../../../assets/images/suitcase.png") 0 70% no-repeat;
  background-size: 20%;

  &::before {
    content: '';
    order: 1;
    flex-basis: 100%;
  }

  .info {
    width: 36%;

    h1 {
      margin: 0;
      font-size: 36px;
      font-family: 'Gotham-Black', sans-serif;
      font-weight: 900;
      color: #fff;

      &.light {
        font-family: 'Gotham-Light', sans-serif;
        font-weight: 300;
        opacity: .2;
      }
    }

    h2 {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 18px;
      font-family: 'Gotham-Light', sans-serif;
      font-weight: 300;
      color: #fff;
    }

    p {
      width: 70%;
      line-height: 24px;
    }
  }

  .step-num {
    font-size: 327px;
    font-family: 'Gotham-Thin', sans-serif;
    font-weight: 100;
    color: #2c9946;
  }

  .steps {
    order: 2;
    align-self: flex-end;
  }

  .img-mobile {
    display: none;
  }

  button {
    order: 2;
    align-self: flex-end;
    border-top-left-radius: 0;

    &.mobile {
      display: none;
    }
  }

  .coverage-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    //width: 668px;
    width: fit-content;
    max-width: 728px;
    transform: translate(-50%, -50%);
    z-index: 1;

    .coverage-box {
      position: relative;
      width: 240px;
      margin: 0 7px;
      padding: 40px;
      background-color: #35994f;

      &.active {
        background-color: #008248;
      }

      &.wider {
        width: 300px;
      }

      &:first-of-type {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-of-type {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .info {
        position: absolute;
        top: 15px;
        right: 20px;
        width: 25px;
        height: 25px;
        line-height: 23px;
        border-radius: 50%;
        text-align: center;
        background-color: #5ff987;
        cursor: pointer;

        i {
          font-size: 14px;
          color: #35994f;
        }

        &:hover {
          background-color: #000;

          i {
            color: #fff;
          }
        }
      }

      .info-mark {
        width: 16px;
        height: 16px;
        margin: 2px 0 0 15px;
        line-height: 12px;
        border-radius: 50%;
        text-align: center;
        background-color: #5ff987;
        cursor: pointer;

        i {
          font-size: 10px;
          color: #35994f;
        }

        &:hover {
          background-color: #000;

          i {
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1800px) {
  .step2-wrapper {
    width: ~"calc(100% - 100px)";
    background-position: 0 80%;

    .info {
      width: 33%;

      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 16px;
      }
    }

    .step-num {
      font-size: 260px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .step2-wrapper {
    background-position: 0 90%;
    background-size: 13%;

    .info {
      width: 25%;
    }

    .step-num {
      font-size: 200px;
    }

    .coverage-wrapper {
      top: 54%;
    }
  }
}

@media screen and (max-width: 1300px) {
  .step2-wrapper {
    background: none;

    .step-num {
      font-size: 200px;
    }

    .info {
      width: 30%;
    }

    .coverage-wrapper {
      top: 50%;
      right: 43px;
      left: auto;
      transform: translate(0, -50%);
    }
  }
}

@media screen and (max-width: 1100px) {
  .step2-wrapper {
    .info {
      width: 27%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .step2-wrapper {
    position: relative;
    display: table;
    width: 90%;
    height: auto;
    margin: 100px auto 0;
    background: none;

    .info {
      width: 100%;
      margin-bottom: 70px;
    }

    .coverage-wrapper {
      position: static;
      flex-direction: column;
      align-items: center;
      width: auto;
      max-width: none;
      margin: 0 auto 70px;
      transform: none;

      .coverage-box {
        margin-bottom: 20px;
      }
    }

    .step-num {
      position: absolute;
      top: 30px;
      right: 0;
      font-size: 150px;
      z-index: -1;
    }

    .steps {
      width: fit-content;
      margin: 0 auto 70px;
      clear: both;
    }

    .img-mobile {
      position: absolute;
      left: -95px;
      display: block;
      width: 169px;
      height: 152px;
      margin-top: -55px;
      background: url("../../../assets/images/suitcase.png") 0 0 no-repeat;
      background-size: contain;
    }

    button {
      &.desktop {
        display: none;
      }

      &.mobile {
        display: block;
        float: right;
        margin-bottom: 70px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .step2-wrapper {
    .info {
      .light {
        width: 70%;
      }

      p {
        width: 100%;
      }
    }

    .coverage-wrapper {
      .coverage-box {
        width: ~"calc(100% - 60px)" !important;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;

        .form-item.date {
          .custom-select {
            &:nth-child(2),
            &:nth-child(3) {
              width: 80px;
            }

            &:nth-child(4) {
              width: 90px;
            }
          }
        }
      }
    }

    .step-num {
      top: 0;
      font-size: 100px;
    }
  }
}
