<div class="step2-wrapper">
  <div class="info">
    <h1 class="light"><span *ngIf="type == 'individual'">Individualno</span><span
      *ngIf="type == 'family'">Porodično</span> Putno Osiguranje</h1>
    <br>
    <h2>drugi korak</h2>
    <h1>Pregled i odabir pokrića</h1>
    <p>
      U skladu sa Vašim potrebama, izaberite paket osiguranja i visinu pokrića, kao i mogućnost otkaza putovanja.
    </p>
  </div>

  <div class="coverage-wrapper">
    <div class="coverage-box" [ngClass]="{'active': travel}">
      <div class="info" (click)="travelModal = true">
        <i class="fas fa-question"></i>
      </div>
      <div class="radio-item">
        <div class="custom-radio" [ngClass]="{'selected': travel}" (click)="toggleTravel()">
          <div class="circle"></div>
        </div>
        <div class="label">travel</div>
      </div>
      <div class="form-item">
        <div class="label">osigurana suma</div>
      </div>
      <div class="checkbox-item">
        <div class="custom-checkbox" [ngClass]="{'selected': insuredFirstSum}" (click)="toggleFirstInsuredSum()">
          <i class="fas fa-check"></i>
        </div>
        <div class="label strong" *ngIf="type == 'individual'">12.000 EUR</div>
        <div class="label strong" *ngIf="type == 'family'">24.000 EUR</div>
      </div>
      <div class="form-item">
        <div class="label">premija</div>
        <div class="item-value">{{ firstTravelOption?.premiumRsd | number:'1.2-2':'sr-Latn' }} RSD</div>
      </div>
      <div class="checkbox-item">
        <div class="custom-checkbox" [ngClass]="{'selected': insuredSecondSum}" (click)="toggleSecondInsuredSum()">
          <i class="fas fa-check"></i>
        </div>
        <div class="label strong" *ngIf="type == 'individual'">32.000 EUR</div>
        <div class="label strong" *ngIf="type == 'family'">62.000 EUR</div>
      </div>
      <div class="form-item">
        <div class="label">premija</div>
        <div class="item-value">{{ secondTravelOption?.premiumRsd | number:'1.2-2':'sr-Latn' }} RSD</div>
      </div>
    </div>
    <div class="coverage-box" [ngClass]="{'active': travelStar, 'wider': cancellation}">
      <div class="info" (click)="travelStarModal = true">
        <i class="fas fa-question"></i>
      </div>
      <div class="radio-item">
        <div class="custom-radio" [ngClass]="{'selected': travelStar}" (click)="toggleTravelStar()">
          <div class="circle"></div>
        </div>
        <div class="label">travel star</div>
      </div>
      <div class="form-item">
        <div class="label">osigurana suma</div>
        <div class="item-value">120.000 EUR</div>
      </div>
      <div class="form-item">
        <div class="label">premija</div>
        <div class="item-value">{{ travelStarOption?.premiumRsd | number:'1.2-2':'sr-Latn' }} RSD</div>
      </div>
      <div class="checkbox-item" *ngIf="showCancellation">
        <div class="custom-checkbox" [ngClass]="{'selected': cancellation}" (click)="toggleCancellation()">
          <i class="fas fa-check"></i>
        </div>
        <div class="label strong">Otkaz Putovanja</div>
        <div class="info-mark" (click)="cancellationModal = true">
          <i class="fas fa-info"></i>
        </div>
      </div>
      <div class="form-item date" *ngIf="cancellation">
        <div class="label">datum kupovine aranžmana</div>
        <div class="custom-select" appClickOutside (clickOutside)="onClickOutsideDayCombo($event)">
          <div class="selected-value" (click)="showDayDrop = !showDayDrop">{{insuranceDay}}</div>
          <i class="fas fa-chevron-down" (click)="showDayDrop = !showDayDrop"></i>
          <div class="custom-dropdown" *ngIf="showDayDrop">
            <div class="drop-item" *ngFor="let day of daysArray" (click)="selectInsuranceDay(day)">{{ day }}</div>
          </div>
        </div>
        <div class="custom-select" appClickOutside (clickOutside)="onClickOutsideMonthCombo($event)">
          <div class="selected-value" (click)="showMonthDrop = !showMonthDrop">{{insuranceMonth}}</div>
          <i class="fas fa-chevron-down" (click)="showMonthDrop = !showMonthDrop"></i>
          <div class="custom-dropdown" *ngIf="showMonthDrop">
            <div class="drop-item" *ngFor="let month of monthsArray" (click)="selectInsuranceMonth(month)">{{ month }}
            </div>
          </div>
        </div>
        <div class="custom-select" appClickOutside (clickOutside)="onClickOutsideYearCombo($event)">
          <div class="selected-value" (click)="showYearDrop = !showYearDrop">{{insuranceYear}}</div>
          <i class="fas fa-chevron-down" (click)="showYearDrop = !showYearDrop"></i>
          <div class="custom-dropdown" *ngIf="showYearDrop">
            <div class="drop-item" *ngFor="let year of yearsArray" (click)="selectInsuranceYear(year)">{{ year }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-item" style="flex: 0 1 100%">
      <span class="text-danger">{{ errorMessage }}</span>
    </div>
  </div>

  <div class="step-num">.02</div>

  <div class="img-mobile"></div>
  <button class="mobile" type="button" (click)="submitStep2()">sledeći korak</button>

  <div class="steps">
    <div class="line"></div>
    <div class="line active"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div *ngIf="type == 'family'" class="line"></div>
    <div *ngIf="type == 'family'" class="line"></div>
  </div>

  <button class="desktop" type="button" (click)="submitStep2()">sledeći korak</button>
</div>

<div class="modal-overlay" *ngIf="travelModal">
  <div class="modal">
    <i class="fas fa-times" (click)="travelModal = false"></i>
    <h2>travel pokriće</h2>

    <ul>
      <li>
        Troškovi ambulantnog i stacionarnog lečenja sa medicinskom repatrijacijom. Do
        <ng-container *ngIf="type == 'individual'"> 12 000/32 000 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 24 000/62 000 EUR</ng-container>
      </li>
      <li>
        Troškovi lečenja za hronične bolesti, koje su neočekivano postale akutne. Do
        <ng-container *ngIf="type == 'individual'"> 1 500 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 3 000 EUR</ng-container>
      </li>
      <li>
        Troškovi repatrijacije u zemlju prebivališta nakon završenog lečenja kod hroničnih bolesti koja su
        neočekivano postala akutna. Do
        <ng-container *ngIf="type == 'individual'"> 1 500 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 3 000 EUR</ng-container>
      </li>
      <li>
        Troškovi organizovanja sahrane u inostranstvu ili troškovi repatrijacije posmrtnih ostataka do mesta
        održavanja sahrane. Do
        <ng-container *ngIf="type == 'individual'"> 2 500/5 000 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 5 000/7 500 EUR</ng-container>
      </li>
    </ul>
  </div>
</div>

<div class="modal-overlay" *ngIf="travelStarModal">
  <div class="modal">
    <i class="fas fa-times" (click)="travelStarModal = false"></i>
    <h2>travel star pokriće</h2>

    <ul>
      <li>
        Troškovi ambulantnog i stacionarnog lečenja sa medicinskom repatrijacijom. Do
        <ng-container *ngIf="type == 'individual'"> 120 000 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 120 000 EUR</ng-container>
      </li>
      <li>
        Troškovi lečenja za hronične bolesti, koje su neočekivano postale akutne. Do
        <ng-container *ngIf="type == 'individual'"> 15 000 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 15 000 EUR</ng-container>
      </li>
      <li>
        Troškovi repatrijacije u zemlju prebivališta nakon završenog lečenja kod hroničnih bolesti koje su
        neočekivano postale akutne. Do
        <ng-container *ngIf="type == 'individual'"> 50 000 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 50 000 EUR</ng-container>
      </li>
      <li>
        Troškovi organizovanja sahrane u inostranstvu ili troškovi repatrijacije posmrtnih ostataka do mesta
        održavanja sahrane. Do
        <ng-container *ngIf="type == 'individual'"> 22 000 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 44 000 EUR</ng-container>
      </li>
      <li>
        Troškovi spašavanja i medicinski nužnog prevoza. Do
        <ng-container *ngIf="type == 'individual'"> 11 000 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 22 000 EUR</ng-container>
      </li>
      <li>
        Troškovi gubitka, oštećenja ili uništenja prtljaga. Do
        <ng-container *ngIf="type == 'individual'"> 300 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 600 EUR</ng-container>
      </li>
      <li>
        Naknada za slučaj smrt usled nezgode po osiguraniku. Do
        <ng-container *ngIf="type == 'individual'"> 5 000 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 5 000 EUR</ng-container>
      </li>
      <li>
        Naknada za trajnu invalidnost usled nezgode po osiguraniku. Do
        <ng-container *ngIf="type == 'individual'"> 20 000 EUR</ng-container>
        <ng-container *ngIf="type == 'family'"> 20 000 EUR</ng-container>
      </li>
      <li>
        Troškovi zakasnelog dolaska na domaći aerodrom ili železničku stanicu pri povratki sa putovanja. Do 100 %
      </li>
      <li>
        Ostalo u skladu sa Uslovima. Do 100 %
      </li>
    </ul>
  </div>
</div>

<div class="modal-overlay" *ngIf="cancellationModal">
  <div class="modal">
    <i class="fas fa-times" (click)="cancellationModal = false"></i>
    <h2>travel star pokriće</h2>

    <ul>
      <li> Ako je ugovoreno osiguranje otkaza putovanja, osiguravajuće pokriće odnosi se na:</li>
      <li>
        Troškove otkaza putovanja koje je osiguranik dužan da plati organizatoru putovanja, odnosno zakupodavcu u
        slučaju otkaza putovanja do trenutka početka putovanja, a na osnovu odredbi opštih uslova putovanja
        organizatora putovanja koji čine sastavni deo ugovora o putovanju;
      </li>
      <li>
        Troškove cene neiskorišćenog dela putovanja zbog prekida putovanja ako je prekid nastao u razdoblju od
        početka putovanja do isteka polovine (50%) ugovorenog trajanja putovanja.
      </li>
      <li>
        Ugovor o osiguranju mora biti sklopljen najkasnije 14 (četrnaest) dana nakon sklapanja ugovora o putovanju,
        a u svakom slučaju 30 (trideset) dana pre početka putovanja. Ako je do početka putovanja preostalo manje od
        30 (trideset) dana, ugovor o osiguranju mora biti sklopljen prilikom sklapanja ugovora o putovanju.
      </li>
      <li>
        Osiguravajuće pokriće počinje u 24:00 časa, onog dana koji sledi nakon dana kada je polisa izdata, a
        prestaje danom početka putovanja.
      </li>
      <li>
        Kod osiguranja zaključenih na godinu dana osiguranjem su pokrivena sva putovanja osiguranika u osiguravajućoj
        godini, ali najviše u neprekidnom trajanju do 45 dana po pojedinačnom putovanju.
      </li>
    </ul>
  </div>
</div>
