<div class="step2-wrapper">
  <div class="info">
    <h1 class="light"><span *ngIf="type == 'individual'">Individualno</span><span
      *ngIf="type == 'family'">Porodično</span> Putno Osiguranje</h1>
    <br>
    <h2>drugi korak</h2>
    <h1>Pregled i odabir pokrića</h1>
    <p>
      Odio ut enim blandit volutpat maecenas volutpat blandit. At varius vel pharetra vel turpis nunc.
      Leo integer malesuada nunc vel risus commodo viverra maecenas.
    </p>
  </div>

  <div class="step-num">.02</div>

  <div class="steps">
    <div class="line"></div>
    <div class="line active"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div *ngIf="type == 'family'" class="line"></div>
    <div *ngIf="type == 'family'" class="line"></div>
  </div>

  <div class="form-item">
    <span class="text-danger">{{ errorMessage }}</span>
  </div>

  <button type="button" (click)="submitStep2()">sledeći korak</button>

  <div class="coverage-wrapper">
    <div class="coverage-box" [ngClass]="{'active': travel}">
      <div class="info" (click)="travelModal = true">
        <i class="fas fa-question"></i>
      </div>
      <div class="radio-item">
        <div class="custom-radio" [ngClass]="{'selected': travel}" (click)="toggleTravel()">
          <div class="circle"></div>
        </div>
        <div class="label">travel</div>
      </div>
      <div class="form-item">
        <div class="label">osigurana suma</div>
      </div>
      <div class="checkbox-item">
        <div class="custom-checkbox" [ngClass]="{'selected': insuredFirstSum}" (click)="toggleFirstInsuredSum()">
          <i class="fas fa-check"></i>
        </div>
        <div class="label strong" *ngIf="type == 'individual'">12.000 EUR</div>
        <div class="label strong" *ngIf="type == 'family'">24.000 EUR</div>
      </div>
      <div class="form-item">
        <div class="label">premija</div>
        <div class="item-value">{{ firstTravelOption?.premiumRsd | number:'1.2-2':'sr-Latn' }} RSD</div>
      </div>
      <div class="checkbox-item">
        <div class="custom-checkbox" [ngClass]="{'selected': insuredSecondSum}" (click)="toggleSecondInsuredSum()">
          <i class="fas fa-check"></i>
        </div>
        <div class="label strong" *ngIf="type == 'individual'">32.000 EUR</div>
        <div class="label strong" *ngIf="type == 'family'">62.000 EUR</div>
      </div>
      <div class="form-item">
        <div class="label">premija</div>
        <div class="item-value">{{ secondTravelOption?.premiumRsd | number:'1.2-2':'sr-Latn' }} RSD</div>
      </div>
    </div>
    <div class="coverage-box" [ngClass]="{'active': travelStar, 'wider': cancellation}">
      <div class="info" (click)="travelStarModal = true">
        <i class="fas fa-question"></i>
      </div>
      <div class="radio-item">
        <div class="custom-radio" [ngClass]="{'selected': travelStar}" (click)="toggleTravelStar()">
          <div class="circle"></div>
        </div>
        <div class="label">travel star</div>
      </div>
      <div class="form-item">
        <div class="label">osigurana suma</div>
        <div class="item-value">120.000 EUR</div>
      </div>
      <div class="form-item">
        <div class="label">premija</div>
        <div class="item-value">{{ travelStarOption?.premiumRsd | number:'1.2-2':'sr-Latn' }} RSD</div>
      </div>
      <div class="checkbox-item" *ngIf="showCancellation">
        <div class="custom-checkbox" [ngClass]="{'selected': cancellation}" (click)="toggleCancellation()">
          <i class="fas fa-check"></i>
        </div>
        <div class="label strong">Otkaz Putovanja</div>
        <div class="info-mark">
          <i class="fas fa-info"></i>
        </div>
      </div>
      <div class="form-item date" *ngIf="cancellation">
        <div class="label">datum kupovine aranžmana</div>
        <div class="custom-select" appClickOutside (clickOutside)="onClickOutsideDayCombo($event)">
          <div class="selected-value" (click)="showDayDrop = !showDayDrop">{{insuranceDay}}</div>
          <i class="fas fa-chevron-down" (click)="showDayDrop = !showDayDrop"></i>
          <div class="custom-dropdown" *ngIf="showDayDrop">
            <div class="drop-item" *ngFor="let day of daysArray" (click)="selectInsuranceDay(day)">{{ day }}</div>
          </div>
        </div>
        <div class="custom-select" appClickOutside (clickOutside)="onClickOutsideMonthCombo($event)">
          <div class="selected-value" (click)="showMonthDrop = !showMonthDrop">{{insuranceMonth}}</div>
          <i class="fas fa-chevron-down" (click)="showMonthDrop = !showMonthDrop"></i>
          <div class="custom-dropdown" *ngIf="showMonthDrop">
            <div class="drop-item" *ngFor="let month of monthsArray" (click)="selectInsuranceMonth(month)">{{ month }}
            </div>
          </div>
        </div>
        <div class="custom-select" appClickOutside (clickOutside)="onClickOutsideYearCombo($event)">
          <div class="selected-value" (click)="showYearDrop = !showYearDrop">{{insuranceYear}}</div>
          <i class="fas fa-chevron-down" (click)="showYearDrop = !showYearDrop"></i>
          <div class="custom-dropdown" *ngIf="showYearDrop">
            <div class="drop-item" *ngFor="let year of yearsArray" (click)="selectInsuranceYear(year)">{{ year }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-overlay" *ngIf="travelModal">
  <div class="modal">
    <i class="fas fa-times" (click)="travelModal = false"></i>
    <h2>travel pokriće</h2>

    <ul>
      <li>
        Troškovi ambulantnog i stacionarnog lečenja sa medicinskom repatrijacijom
      </li>
      <li>
        Troškovi lečenja za hronične bolesti, koje su neočekivano postale akutne
      </li>
      <li>
        Troškovi repatrijacije u zemlju prebivališta nakon završenog lečenja kod hroničnih bolesti koja su
        neočekivano postala akutna
      </li>
      <li>
        Troškovi organizovanja sahrane u inostranstvu ili troškovi repatrijacije posmrtnih ostataka do mesta
        održavanja sahrane
      </li>
    </ul>
  </div>
</div>

<div class="modal-overlay" *ngIf="travelStarModal">
  <div class="modal">
    <i class="fas fa-times" (click)="travelStarModal = false"></i>
    <h2>travel star pokriće</h2>

    <ul>
      <li>
        Troškovi ambulantnog i stacionarnog lečenja sa medicinskom repatrijacijom
      </li>
      <li>
        Troškovi lečenja za hronične bolesti, koje su neočekivano postale akutne
      </li>
      <li>
        Troškovi repatrijacije u zemlju prebivališta nakon završenog lečenja kod hroničnih bolesti koje su
        neočekivano postale akutne
      </li>
      <li>
        Troškovi organizovanja sahrane u inostranstvu ili troškovi repatrijacije posmrtnih ostataka do mesta
        održavanja sahrane
      </li>
      <li>
        Troškovi spašavanja i medicinski nužnog prevoza
      </li>
      <li>
        Troškovi gubitka, oštećenja ili uništenja prtljaga
      </li>
      <li>
        Naknada za slučaj smrt usled nezgode po osiguraniku
      </li>
      <li>
        Naknada za trajnu invalidnost usled nezgode po osiguraniku
      </li>
      <li>
        Troškovi zakasnelog dolaska na domaći aerodrom ili železničku stanicu pri povratki sa putovanja
      </li>
      <li>
        Ostalo u skladu sa Uslovima
      </li>
    </ul>
  </div>
</div>
