<div class="step1-wrapper">
  <div class="info">
    <h1 class="light">Individualno Putno Osiguranje</h1>
    <br>
    <h2>prvi korak</h2>
    <h1>Osnovni podaci</h1>
    <p>
      Odio ut enim blandit volutpat maecenas volutpat blandit. At varius vel pharetra vel turpis nunc.
      Leo integer malesuada nunc vel risus commodo viverra maecenas.
    </p>
  </div>

  <div class="step-num">.01</div>

  <div class="steps">
    <div class="line active"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <button type="button" (click)="submitFirstStep()">sledeći korak</button>

  <form action="">
    <div class="form-item date">
      <div class="label">početak osiguranja</div>
      <div class="custom-select" appClickOutside (clickOutside)="onClickOutsideDayCombo($event)">
        <div class="selected-value" (click)="showDayDrop = !showDayDrop">{{insuranceDay}}</div>
        <i class="fas fa-chevron-down" (click)="showDayDrop = !showDayDrop"></i>
        <div class="custom-dropdown" *ngIf="showDayDrop">
          <div class="drop-item" *ngFor="let day of daysArray" (click)="selectInsuranceDay(day)">{{ day }}</div>
        </div>
      </div>
      <div class="custom-select" appClickOutside (clickOutside)="onClickOutsideMonthCombo($event)">
        <div class="selected-value" (click)="showMonthDrop = !showMonthDrop">{{insuranceMonth}}</div>
        <i class="fas fa-chevron-down" (click)="showMonthDrop = !showMonthDrop"></i>
        <div class="custom-dropdown" *ngIf="showMonthDrop">
          <div class="drop-item" *ngFor="let month of monthsArray" (click)="selectInsuranceMonth(month); refreshDatePicker()">{{ month }}
          </div>
        </div>
      </div>
      <div class="custom-select" appClickOutside (clickOutside)="onClickOutsideYearCombo($event)">
        <div class="selected-value" (click)="showYearDrop = !showYearDrop">{{insuranceYear}}</div>
        <i class="fas fa-chevron-down" (click)="showYearDrop = !showYearDrop"></i>
        <div class="custom-dropdown" *ngIf="showYearDrop">
          <div class="drop-item" *ngFor="let year of yearsArray" (click)="selectInsuranceYear(year); refreshDatePicker()">{{ year }}</div>
        </div>
      </div>
    </div>
    <div class="checkbox-item">
      <div class="custom-checkbox" [ngClass]="{'selected': annualCoverage}" (click)="annualCoverageEvent()">
        <i class="fas fa-check"></i>
      </div>
      <div class="label">godišnje pokriće</div>
    </div>
    <div class="form-item">
      <div class="label">trajanje osiguranja</div>
      <div class="custom-select" [ngClass]="{'disabled': annualCoverage}" appClickOutside
           (clickOutside)="onClickOutsideDurationCombo($event)">
        <div class="selected-value" (click)="durationComboEvent()">{{insuranceDuration}}</div>
        <i class="fas fa-chevron-down" (click)="durationComboEvent()"></i>
        <div class="custom-dropdown" *ngIf="showDurationDrop">
          <div class="drop-item" *ngFor="let duration of durationSource" (click)="selectInsuranceDuration(duration)">{{
            duration }}
          </div>
        </div>
      </div>
      <span class="text-danger">{{ durationErrorMessage }}</span>
    </div>
    <div class="form-item">
      <div class="label">svrha putovanja</div>
      <div class="custom-select" appClickOutside (clickOutside)="onClickOutsidePurposeCombo($event)">
        <div class="selected-value" (click)="showPurposeDrop = !showPurposeDrop">{{insurancePurpose}}</div>
        <i class="fas fa-chevron-down" (click)="showPurposeDrop = !showPurposeDrop"></i>
        <div class="custom-dropdown" *ngIf="showPurposeDrop">
          <div class="drop-item" *ngFor="let purpose of purposeSource" (click)="selectInsurancePurpose(purpose)">{{
            purpose }}
          </div>
        </div>
      </div>
      <span class="text-danger">{{ purposeErrorMessage }}</span>
    </div>
    <div class="form-item">
      <div class="label">istek osiguranja</div>
      <div class="item-value">{{ calculateExpiryDate() }}</div>
    </div>
    <div class="form-item">
      <div class="label">teritorijalno pokriće</div>
      <div class="item-value">Ceo Svet</div>
    </div>
  </form>
</div>
