<header>
  <div class="logo" [routerLink]="['/home']"></div>

  <div class="phone">
    pozovite nas<br>
    <a href="tel:+381112225522"><span>+381 (0)11 222 55 22</span> </a>
  </div>


    <a href="viber://add?number=381692225522" class="viber" title="Kontaktirajte nas preko Viber broja +381692225522"></a>

    <a href="https://api.whatsapp.com/send?phone=381692225522" class="wup" title="Kontaktirajte nas preko WhatsApp broja +381692225522"></a>



  <!--<div class="phone">-->
   <!--<br>-->
    <!--<a href="tel:+381112225522"><img src="../../../assets/images/desktop-v.png" /> </a>-->
  <!--</div>-->

  <!--<div class="phone">-->
    <!--<br>-->
    <!--<a href="tel:+381112225522"><img src="../../../assets/images/desktop-w.png" /> </a>-->
  <!--</div>-->

</header>
