.step4-wrapper {
  position: relative;
  width: 80%;
  min-height: ~"calc(85vh - 131px)";
  margin: 15vh auto 30px;
  background: url("../../../assets/images/suitcase.png") 0 60% no-repeat;
  background-size: 20%;

  .info {
    width: 36%;

    h1 {
      margin: 0;
      font-size: 36px;
      //font-family: 'Gotham-Black', sans-serif;
      font-weight: 800;
      color: #fff;

      &.light {
        //font-family: 'Gotham-Light', sans-serif;
        font-weight: 300;
        opacity: .2;
      }
    }

    h2 {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 18px;
      //font-family: 'Gotham-Light', sans-serif;
      font-weight: 300;
      color: #fff;
    }

    p {
      width: 70%;
      line-height: 24px;
    }
  }

  .step-num {
    position: absolute;
    top: -10%;
    right: -3%;
    font-size: 327px;
    //font-family: 'Gotham-Thin', sans-serif;
    font-weight: 100;
    color: #2c9946;
  }

  .actions {
    display: flex;
    justify-content: space-between;

    .steps {
      align-self: flex-end;
      margin-right: auto;
    }

    button {
      border-top-left-radius: 0;

      &.back {
        margin-right: 20px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border-top-right-radius: 0;
      }
    }
  }

  .mobile,
  .img-mobile {
    display: none;

    &.back {
      margin-right: 20px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      border-top-right-radius: 0;
    }
  }

  .details-wrapper {
    /*position: fixed;
    top: 50%;
    left: 50%;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 504px;
    margin: 0 auto 50px;
    /*transform: translate(-50%, -50%);
    z-index: 1;*/

    .details-box {
      width: 100%;
      margin-bottom: 20px;
      padding: 25px 45px 30px;
      color: #000;
      background: #fff url(../../../assets/images/grawe-logo-bck.png) top right no-repeat;
      box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.15);

      button {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 120px;
        height: 35px;
        box-shadow: none;
        letter-spacing: 3px;
        border-radius: 6px;
        font-size: 12px;
        color: #fff;
        background-color: #00854a;

        i {
          margin-left: 8px;
        }

        &:hover {
          background-color: #000;
        }
      }

      h3 {
        line-height: 18px;
        letter-spacing: 3px;
        font-size: 14px;
        text-transform: uppercase;
        color: #00854a;
      }

      .info-item {
        margin-bottom: 5px;
        font-size: 14px;

        &.email {
          color: #00854a;
        }

        span {
          //font-family: 'Gotham-Bold', sans-serif;
          font-weight: 700;
        }
      }
    }

    .form-item {
      .custom-input {
        width: 238px;
      }

      &.long {
        flex: 0 1 100%;

        .custom-input {
          width: 555px;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .step4-wrapper {
    min-height: ~"calc(85vh - 91px)";
    background-position: 0 70%;

    .info {
      width: 33%;

      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 16px;
      }
    }

    .step-num {
      font-size: 260px;
    }

    .details-wrapper {
      .checkbox-item {
        .label {
          letter-spacing: 3px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .step4-wrapper {
    width: ~"calc(100% - 100px)";

    .step-num {
      font-size: 200px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .step4-wrapper {
    width: 90%;
    margin: 100px auto 0;
    background: none;

    .info {
      width: 100%;
      margin-bottom: 70px;
    }

    .details-wrapper {
      position: static;
      flex-direction: column;
      align-items: center;
      width: 420px;
      max-width: none;
      margin: 0 auto 70px;
      transform: none;

      .details-box {
        max-height: none;
      }

      .form-item {
        margin-right: 0 !important;
        margin-bottom: 15px;

        .label {
          margin-bottom: 7px;
          font-size: 12px;
        }

        .custom-input {
          width: 248px;
          height: 45px;
        }
      }

      .checkbox-item {
        width: 300px;
      }
    }

    .step-num {
      position: absolute;
      top: 30px;
      right: 0;
      font-size: 150px;
      z-index: -1;
    }

    .img-mobile {
      position: absolute;
      left: -95px;
      display: block;
      width: 169px;
      height: 152px;
      margin-top: -55px;
      background: url("../../../assets/images/suitcase.png") 0 0 no-repeat;
      background-size: contain;
    }

    button {
      &.mobile {
        display: block;
        float: right;
        margin-bottom: 70px;
      }
    }

    .actions {
      clear: both;

      .steps {
        width: fit-content;
        margin: 0 auto 70px;
        clear: both;
      }

      .desktop {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .step4-wrapper {
    .info {
      .light {
        width: 70%;
      }

      p {
        width: 100%;
      }
    }

    .details-wrapper {
      width: 100%;

      .details-box {
        padding: 25px 30px 30px;
        width: ~"calc(100% - 60px)";
      }
    }

    .step-num {
      top: 0;
      font-size: 100px;
    }
  }
}

@media screen and (max-width: 500px) {
  .step4-wrapper {
    .img-mobile {
      display: none;
    }
  }
}
