<div class="step4-wrapper">
  <div class="info">
    <h1 class="light">
      <ng-container *ngIf="type == 'family'">Porodično</ng-container>
      <ng-container *ngIf="type == 'individual'">Individualno</ng-container>  Putno Osiguranje</h1>
    <br>
    <h2 *ngIf="step == 4">četvrti korak</h2>
    <h2 *ngIf="step == 5">peti korak</h2>
    <h1>Detalji polise</h1>
    <p>
      Odio ut enim blandit volutpat maecenas volutpat blandit. At varius vel pharetra vel turpis nunc.
      Leo integer malesuada nunc vel risus commodo viverra maecenas.
    </p>
  </div>

  <div class="step-num"><span *ngIf="step == 4">.04</span><span *ngIf="step == 5">.05</span></div>

  <div class="steps">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" [ngClass]="{'active': type == 'individual'}"></div>
    <div class="line" [ngClass]="{'active': type == 'family'}"></div>
    <div *ngIf="type == 'family'" class="line"></div>
    <div *ngIf="type == 'family'" class="line"></div>
  </div>

  <button (click)="proceedToPayment()">plaćanje</button>

  <div class="details-wrapper">
    <div class="details-box">
      <!--<button routerLink="/edit">-->
        <!--izmeni-->
        <!--<i class="fas fa-pencil-alt"></i>-->
      <!--</button>-->

      <h3>
        <ng-container *ngIf="type == 'individual'">individualno</ng-container>
        <ng-container *ngIf="type == 'family'">porodično</ng-container>
        <br> putno osiguranje
      </h3>
      <div class="info-item">
        Početak osiguranja: <span>{{ offerRequestModel?.tariff?.insuranceBeginDate | date: 'dd.MM.yyyy' }}</span>
      </div>
      <div class="info-item">
        Trajanje: <span>{{ duration }}</span>
      </div>
      <div class="info-item">
        Svrha putovanja:
        <span *ngIf="offerRequestModel?.tariff?.travelReason == '1'">Turističko</span>
        <span *ngIf="offerRequestModel?.tariff?.travelReason == '2'">Poslovno</span>
        <span *ngIf="offerRequestModel?.tariff?.travelReason == '3'">Studijsko</span>
        <span *ngIf="offerRequestModel?.tariff?.travelReason == '4'">Privremeni rad u inostranstvu</span>
      </div>
      <div class="info-item">
        Istek osiguranja: <span>{{ offerRequestModel?.tariff?.insuranceEndDate | date: 'dd.MM.yyyy' }}</span>
      </div>
      <br>
      <div class="info-item">
        Pokriće: <span>{{ offerRequestModel?.tariff?.productVariant == 1 ? 'Travel' : 'Travel Star' }}</span>
      </div>
      <div class="info-item">
        Osigurana suma: <span>{{ offerRequestModel?.tariff?.amountInsured | number:'1.2-2':'sr-Latn' }} EUR</span>
      </div>
      <div class="info-item">
        Premija: <span>{{ offerRequestModel?.tariff?.premiumRsd | number:'1.2-2':'sr-Latn' }} RSD</span>
      </div>
      <br>

      <h3>Ugovarač osiguranja</h3>
      <div class="info-item"><span>{{ offerRequestModel.customer.firstName }} {{ offerRequestModel.customer.lastName }}</span></div>
      <div class="info-item">{{ offerRequestModel.customer.jmbg }}</div>
      <div class="info-item">{{ offerRequestModel.customer.address.street }}</div>
      <div class="info-item">{{ offerRequestModel.customer.address.zipCode }} {{ offerRequestModel.customer.address.town }}</div>
      <div class="info-item">{{ offerRequestModel.customer.phoneNumber }}</div>
      <div class="info-item email">{{ offerRequestModel.customer.emailAddress }}</div>
    </div>

    <div class="form-item" style="margin-right: 10px;">
      <div class="label">šifra zastupnika preporuke</div>
      <input class="custom-input" type="number" [(ngModel)]="policyRequestModel.vkto" (click)="formError = ''">
    </div>
    <div class="checkbox-item link">
      <div class="custom-checkbox" [ngClass]="{'selected': terms}" (click)="terms = !terms; formError = ''">
        <i class="fas fa-check"></i>
      </div>
      <div class="label">uslovi korišćenja</div>
    </div>
    <div class="checkbox-item">
      <div class="custom-checkbox" [ngClass]="{'selected': newsletter}" (click)="newsletter = !newsletter">
        <i class="fas fa-check"></i>
      </div>
      <div class="label">prijava na newsletter</div>
    </div>
    <div class="checkbox-item link">
      <div class="custom-checkbox" [ngClass]="{'selected': info}" (click)="info = !info; formError = ''; info ? getOfferId() : null">
        <i class="fas fa-check"></i>
      </div>
      <div class="label" (click)="getOfferId()">informacije za ugovarača osiguranja</div>
    </div>
    <div class="form-item">
      <span class="text-danger">{{ formError }}</span>
    </div>
  </div>
</div>
<div [innerHTML]="paymentForm"></div>

<div class="loader-overlay" *ngIf="loader">
  <div class="loader"></div>
</div>
