<div class="step4Family-wrapper">
  <div class="info">
    <h1 class="light">Porodično Putno Osiguranje</h1>
    <br>
    <h2>četvrti korak</h2>
    <h1>Detalji Polise</h1>
    <p>
      Odio ut enim blandit volutpat maecenas volutpat blandit. At varius vel pharetra vel turpis nunc.
      Leo integer malesuada nunc vel risus commodo viverra maecenas.
    </p>
  </div>

  <div class="step-num">.04</div>

  <div class="steps">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line active"></div>
    <div class="line"></div>
  </div>

  <button [routerLink]="['/step5']" [queryParams]="{ type: type}" queryParamsHandling="merge">sledeći korak</button>

  <form action="">
    <div class="form-item">
      <div class="label">ime</div>
      <input class="custom-input">
    </div>
    <div class="form-item">
      <div class="label">prezime</div>
      <input class="custom-input">
    </div>
    <div class="form-item">
      <div class="label">jmbg / pib</div>
      <input type="number" class="custom-input">
    </div>
    <div class="form-item">
      <div class="label">unesite broj pasoša</div>
      <input type="number" class="custom-input">
    </div>
  </form>
</div>
