<div class="home-wrapper">
  <div class="individual">
    <h1>Individualno</h1>
    <h2>putno osiguranje</h2>
    <p>
      Odio ut enim blandit volutpat maecenas volutpat blandit. At varius vel pharetra vel turpis nunc.
      Leo integer malesuada nunc vel risus commodo viverra maecenas.
    </p>
    <button [routerLink]="['/step1']" [queryParams]="{ type: 'individual'}" queryParamsHandling="merge">kupi online</button>
  </div>

  <div class="family">
    <h1>Porodično</h1>
    <h2>putno osiguranje</h2>
    <p>
      Odio ut enim blandit volutpat maecenas volutpat blandit. At varius vel pharetra vel turpis nunc.
      Leo integer malesuada nunc vel risus commodo viverra maecenas.
    </p>
    <button [routerLink]="['/step1']" [queryParams]="{ type: 'family'}" queryParamsHandling="merge">kupi online</button>
    <div class="info">
      Porodično osiguranje podrazumeva dve punoletne osobe koje ne moraju biti u bračnoj zajednici ili u
      krvnom srodstvu i najviše pet maloletnih osoba koje takođe ne moraju biti u krvnom srodstvu.
    </div>
  </div>
</div>
