<footer>
  <nav>
    <div>&copy; {{currentYear}} grawe osiguranje -</div>
    <div class="link">web shop</div>
    <div class="link">uslovi korišćenja webshopa</div>
    <div class="link">kontakt</div>
  </nav>

  <a href="https://www.raiffeisenbank.rs/" target="_blank" class="raiffeisen"></a>
  <a href="https://rs.visa.com/pay-with-visa/security-and-assistance/protected-everywhere.html" target="_blank" class="verified-visa"></a>
  <a href="https://www.mastercard.rs/sr-rs/consumers/find-card-products/credit-cards.html?cmp=psc.mastercard.google_sea.srb.alwayson.b2c.....gg_text.." target="_blank" class="secure-code"></a>
  <div class="cards"></div>
</footer>
