<div class="step5-wrapper">
  <div class="info">
    <h1 class="light">Individualno Putno Osiguranje</h1>
    <br>
    <h2>peti korak</h2>
    <h1>Vaša Polisa individualnog putnog osiguranja je uspešno kreirana</h1>
  </div>

  <div class="step-num">.05</div>

  <div class="steps">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line active"></div>
  </div>

  <div class="success-wrapper">
    <div class="img"></div>
    <div class="info-item first">
      za sve ostale informacije možete nas kontaktirati na <span>+381 11 2092 600</span> ili putem emaila
      <span>osiguranje@grawe.com</span>
    </div>
    <div class="info-item second">
      polisu možete preuzeti u okviru .pdf dokumenta <br> klikom na <span>dugme preuzimanje,</span> <br> a polisa će biti poslata u naredna 2 dana na vašu kućnu adresu
    </div>
    <button>preuzimanje</button>
  </div>
</div>
