<div class="step5-wrapper">
  <div class="info">
    <h1 class="light">Individualno Putno Osiguranje</h1>
    <br>
    <h2>peti korak</h2>
    <h1>Vaša Polisa individualnog putnog osiguranja <span *ngIf="success">je uspešno kreirana</span><span *ngIf="!success">nije kreirana</span></h1>
  </div>

  <div class="step-num"><span *ngIf="type === 'individual'">.05</span><span *ngIf="type === 'family'">.07</span></div>

  <div class="steps">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" [ngClass]="{'active': type == 'individual'}"></div>
    <div *ngIf="type == 'family'" class="line"></div>
    <div *ngIf="type == 'family'" class="line" [ngClass]="{'active': type == 'family'}"></div>
  </div>

  <div class="success-wrapper" *ngIf="success">
    <div class="img"></div>
    <div class="info-item first">
      za sve ostale informacije možete nas kontaktirati na <span>+381 11 2092 600</span> ili putem emaila
      <span>service@grawe.rs</span>
    </div>
    <div class="info-item second">
      polisu možete preuzeti u okviru .pdf dokumenta <br> klikom na <span>dugme preuzimanje,</span> <br> a polisa će biti poslata na vašu email adresu.
      <br> Želimo Vam lepa i prijatna iskustva, srećan put!
    </div>

    <button>preuzimanje</button>
  </div>

  <div class="declined-wrapper" *ngIf="!success">
    <div class="img"></div>
    <div class="info-item first">
      za sve ostale informacije možete nas kontaktirati na <span>+381 11 2092 600</span> ili putem emaila
      <span> service@grawe.rs</span>
    </div>
  </div>
</div>
