.step5-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: 70vh;
  margin: 15vh auto 0;
  background-size: 20%;

  &::before {
    content: '';
    order: 1;
    flex-basis: 100%;
  }

  .info {
    width: 35%;

    h1 {
      margin: 0;
      font-size: 36px;
      font-family: 'Gotham-Black', sans-serif;
      color: #fff;

      &.light {
        font-family: 'Gotham-Light', sans-serif;
        opacity: .2;
      }
    }

    h2 {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 18px;
      font-family: 'Gotham-Light', sans-serif;
      color: #fff;
    }
  }

  .step-num {
    font-size: 327px;
    font-family: 'Gotham-Thin', sans-serif;
    color: #2c9946;
  }

  .steps {
    order: 2;
    align-self: flex-end;
  }

  .success-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 770px;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;

    .img {
      width: 415px;
      height: 339px;
      margin: 0 auto 20px;
      background: url("../../../assets/images/travel-img.png") 0 0 no-repeat;
    }

    .info-item {
      text-transform: uppercase;
      letter-spacing: 3px;
      line-height: 24px;
      font-size: 14px;

      &.first {
        width: 602px;
        margin: 0 auto 25px;
      }

      &.second {
        width: 760px;
        margin: 0 auto 65px;

        span {
          text-transform: uppercase;
        }
      }

      span {
        text-transform: none;
        font-family: 'Gotham-Black', sans-serif;
        color: #000;
      }
    }

    button {
      margin: 0 auto;
      border-top-left-radius: 0;
    }
  }

  .declined-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 602px;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;

    .img {
      width: 193px;
      height: 192px;
      margin: 0 auto 40px;
      background: url("../../../assets/images/declined.png") 0 0 no-repeat;
    }

    .info-item {
      text-transform: uppercase;
      letter-spacing: 3px;
      line-height: 24px;
      font-size: 14px;

      span {
        text-transform: none;
        font-family: 'Gotham-Black', sans-serif;
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .step5-wrapper {
    height: ~"calc(100vh - 120px)";

    .info {
      width: 33%;

      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 16px;
      }
    }

    .step-num {
      font-size: 260px;
    }
  }
}
